<html>
<head>
    <title>信息列表</title>
    <script src="file:///android_asset/js/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.31/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.31/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.31/js/uikit-icons.min.js"></script>
</head>
<body>

<div  id="app" class="uk-flex uk-flex-center" style="margin: 20px">
    <div class="uk-overflow-auto  uk-margin-medium-top">
        <div>
            <legend class="uk-legend">接收信息</legend>
            <hr>
            <button class="uk-button uk-button-small uk-width-1-1" v-bind:class="buttonClass" v-on:click="shiftConnect">
                <span v-if="recieving">停止接收</span>
                <span v-else>开始接收</span>
            </button>
            <hr>
        </div>
        <legend class="uk-legend">接收列表</legend>
        <hr>
        <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
            <thead>
            <tr>
                <th class="uk-width-medium uk-table-shrink">Time</th>
                <th class="uk-width-medium uk-width-truncate">Chn</th>
                <th class="uk-width-medium uk-text-nowrap">ID</th>
                <th class="uk-width-medium uk-text-nowrap">Name</th>
                <th class="uk-width-medium uk-text-nowrap">Dir</th>
                <th class="uk-width-medium uk-text-nowrap">DLC</th>
                <th class="uk-width-medium uk-text-nowrap">Data</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="message in messages">
                <td class="uk-table-link"><a class="uk-link" :href="'file:///android_asset/html/detail.html?id=' + message.id">{{message.time}}</a></td>
                <td class="uk-preserve-width">{{message.chn}}</td>
                <td class="uk-width-medium uk-text-truncate">{{message.id}}</td>
                <td class="uk-width-medium uk-text-truncate">{{message.name}}</td>
                <td class="uk-text-nowrap">{{message.dir}}</td>
                <td class="uk-text-nowrap">{{message.dlc}}</td>
                <td class="uk-text-truncate">{{message.data}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
        var app = new Vue({
          el: '#app',
          data: {
            messages: [{
                'time': '0.500000',
                'chn': '1',
                'id': 'C01F351x',
                'name': 'PTC_STATE_Z0asdfasdfasd',
                'dir': 'TX',
                'dlc': '8',
                'data': '00 28 28 00 00 00 00 00'
                },
                {
                'time': '0.500000',
                'chn': '1',
                'id': 'C01F351x',
                'name': 'PTC_STATE_Z0asdfasdfasd',
                'dir': 'TX',
                'dlc': '8',
                'data': '00 28 28 00 00 00 00 00'
                },
                {
                'time': '0.500000',
                'chn': '1',
                'id': 'C01F351x',
                'name': 'PTC_STATE_Z0asdfasdfasd',
                'dir': 'TX',
                'dlc': '8',
                'data': '00 28 28 00 00 00 00 00'
                },
                {
                'time': '0.500000',
                'chn': '1',
                'id': 'C01F351x',
                'name': 'PTC_STATE_Z0asdfasdfasd',
                'dir': 'TX',
                'dlc': '8',
                'data': '00 28 28 00 00 00 00 00'
                },
                {
                'time': '0.500000',
                'chn': '1',
                'id': 'C01F351x',
                'name': 'PTC_STATE_Z0asdfasdfasd',
                'dir': 'TX',
                'dlc': '8',
                'data': '00 28 28 00 00 00 00 00'
                },
                {
                'time': '0.500000',
                'chn': '1',
                'id': 'C01F351x',
                'name': 'PTC_STATE_Z0asdfasdfasd',
                'dir': 'TX',
                'dlc': '8',
                'data': '00 28 28 00 00 00 00 00'
                },
                {
                'time': '0.500000',
                'chn': '1',
                'id': 'C01F351x',
                'name': 'PTC_STATE_Z0asdfasdfasd',
                'dir': 'TX',
                'dlc': '8',
                'data': '00 28 28 00 00 00 00 00'
                },
                {
                'time': '0.500000',
                'chn': '1',
                'id': 'C01F351x',
                'name': 'PTC_STATE_Z0asdfasdfasd',
                'dir': 'TX',
                'dlc': '8',
                'data': '00 28 28 00 00 00 00 00'
                },
                {
                'time': '0.500000',
                'chn': '1',
                'id': 'C01F351x',
                'name': 'PTC_STATE_Z0asdfasdfasd',
                'dir': 'TX',
                'dlc': '8',
                'data': '00 28 28 00 00 00 00 00'
                },
                {
                'time': '0.500000',
                'chn': '1',
                'id': 'C01F351x',
                'name': 'PTC_STATE_Z0asdfasdfasd',
                'dir': 'TX',
                'dlc': '8',
                'data': '00 28 28 00 00 00 00 00'
                },
                {
                'time': '0.500000',
                'chn': '1',
                'id': 'C01F351x',
                'name': 'PTC_STATE_Z0asdfasdfasd',
                'dir': 'TX',
                'dlc': '8',
                'data': '00 28 28 00 00 00 00 00'
                },
                {
                'time': '0.500000',
                'chn': '1',
                'id': 'C01F351x',
                'name': 'PTC_STATE_Z0asdfasdfasd',
                'dir': 'TX',
                'dlc': '8',
                'data': '00 28 28 00 00 00 00 00'
                },
                {
                'time': '0.500000',
                'chn': '1',
                'id': 'C01F351x',
                'name': 'PTC_STATE_Z0asdfasdfasd',
                'dir': 'TX',
                'dlc': '8',
                'data': '00 28 28 00 00 00 00 00'
                },
                {
                'time': '0.500000',
                'chn': '1',
                'id': 'C01F351x',
                'name': 'PTC_STATE_Z0asdfasdfasd',
                'dir': 'TX',
                'dlc': '8',
                'data': '00 28 28 00 00 00 00 00'
                },
                {
                'time': '0.500000',
                'chn': '1',
                'id': 'C01F351x',
                'name': 'PTC_STATE_Z0asdfasdfasd',
                'dir': 'TX',
                'dlc': '8',
                'data': '00 28 28 00 00 00 00 00'
                }
            ],
            recieving: false
         },
         created: function() {

         },
         computed: {
            buttonClass: function() {
                return {
                    'uk-button-primary': !this.recieving,
                    'uk-button-danger': this.recieving
                }
            }
         },
         methods: {
            shiftConnect: function() {
                if(this.recieving) {
                    this.recieving = false;
                    Android.stopRead();
                } else {
                    result = Android.startRead()
                    if (result) {
                        this.recieving  = true;
                        this.readData()
                    } else {
                        Android.showToast("操作失败，请重试")
                    }
                }
            },
            readData() {
                data = Android.getMessages();
                console.log(data)

                this.messages = JSON.parse(data)

                //call this method everything 1 second
                if (this.recieving) {
                    setTimeout(this.readData, 1000)
                }
            }
         }
         })
    </script>

</body>
</html>