<html>
<head>
    <title>COM口设置</title>
    <script src="file:///android_asset/js/vue.js"></script>
    <link rel="stylesheet" href="file:///android_asset/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="file:///android_asset/js/uikit.min.js"></script>
    <script src="file:///android_asset/js/uikit-icons.min.js"></script>


</head>
<body>

    <div  id="app" class="uk-flex uk-flex-center">
        <form class="uk-width-5-6 uk-form-stacked">
            <fieldset class="uk-fieldset uk-margin-medium-top">
                <legend class="uk-legend ">Send/Receive On Comm.</legend>
                <div class="uk-margin">
                    <label class="uk-form-label">选择COM口</label>
                    <select class="uk-select" v-model="form.com"  v-on:change="selectCom(form.com)">
                        <option value="" disabled selected>请选择</option>
                        <option v-for="com in coms" v-bind:value="com.value">{{com.name}}</option>
                    </select>
                </div>
                <div class="uk-comment-body uk-margin-medium-bottom">
                    <p>Choose a COM port(e.g. COM3) or specify a network connection. See the Online Help(F1) for details.</p>
                </div>

                <legend class="uk-legend">COM Port Settings </legend>
                <div class="uk-margin">
                    <label class="uk-form-label">Baud rate</label>
                    <select class="uk-select" v-model="form.baud" v-on:change="changeBaudRate(form.baud)">
                        <option value="" disabled selected>请选择</option>
                        <option v-for="rate in baud_rates" v-bind:value="rate">{{rate}}</option>
                    </select>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label">Data bits</label>
                    <select class="uk-select" v-model="form.data_bits" v-on:change="changeBaudRate(form.baud)">
                        <option value="" disabled selected>请选择</option>
                        <option v-for="bit in data_bits" v-bind:value="bit">{{bit}}</option>
                    </select>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label">Stop bits</label>
                    <select class="uk-select" v-model="form.stop_bits" v-on:change="changeBaudRate(form.baud)">
                        <option value="" disabled selected>请选择</option>
                        <option v-for="rate in stop_bits" v-bind:value="rate">{{rate}}</option>
                    </select>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label">Parity</label>
                    <select class="uk-select" v-model="form.parity" v-on:change="changeBaudRate(form.baud)">
                        <option value="" disabled selected>请选择</option>
                        <option v-for="rate in parity" v-bind:value="rate">{{rate}}</option>
                    </select>
                </div>

            </fieldset>
        </form>
    </div>

    <script type="text/javascript">
        var app = new Vue({
          el: '#app',
          data: {
            form: {
                com: '',
                baud: 9600,
                data_bits: 8,
                stop_bits: 1,
                parity: "None"
            },
            coms: [{
                name:'com1',
                value:'com1'
            }, {
                name: 'com2',
                value: 'com2'
            }],
            baud_rates: [
             300,
             1200,
             2400,
             4800,
             9600,
             14400,
             19200,
             28800,
             38400,
             57600,
             115200
            ],
           data_bits: [5, 6, 7 , 8],
           stop_bits: [1, 1.5, 2],
           parity: ['None', 'Even', 'Odd', 'Mark', 'Space']
          },
          methods: {
            selectCom: function(e) {
            Android.showToast(e)
            }
          }
         })
    </script>

</body>
</html>